.header__logo {
    max-width: 16.875rem;
    min-height: 4.375rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 6rem;
    line-height: 6.25rem;
    color: #FFFFFF;
    padding-top: 2.125rem;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .header__logo{
        padding-top: 1.25rem;
        max-width: 12.5rem;
        min-height: 3.2406rem;
    }    
}