.content-description__text-cite {
    font-family: 'Inter';
    max-width: 45.125rem;
    min-height: 8.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.125rem;
    color: #FFFFFF;
    text-align: left;
}

@media screen and (min-width:320px)and (max-width:767px) {
    .content-description__text-cite{
        min-height: 18.75rem;
        line-height: 1.875rem;
    }
}